h1 {
    font-size: 24px;
}

.kamp-section {
    margin-top: 75px;
    background: rgb(45, 45, 45, 0.7);
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    padding: 25px;
}

.team-div {
    display: flex;
    justify-content: space-between;
}

.team-div h1 {
    text-align: center;
}

.team-name {
    display: flex;
    height: 65px;
    width: 40%;
    justify-content: space-between;
}

.team-name img {
    height: inherit;
}

.info-div {
    display: flex;
    justify-content: center;
}

.item-div {
    font-size: 1.2em;
    width: 50%;
    text-align: center;
}

.item-div p {
    margin: 0;
}

.edit-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-div {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-div h3 { 
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.container {
    margin-top: 5vh;
    display: flex;
    justify-content:space-between;
}

#adresse {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#adresse p {
    text-align: center;
    margin: 0;
    padding: 0;
}

#kamp-id {
    margin-top: 2em;
}