@page "/dinklub"
@page "/dinklub/{id:int}"
@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@using System.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager

<h1>Din klub - @club.name</h1>
<section class="klub-section">
    <div class="klub-info">
        <EditForm Model="club" OnSubmit="HandleSubmit">
            <label for="navn">Navn:</label>
            <InputText @bind-Value="club.name" id="navn" type="text" />

            <label for="adresse">Adresse:</label>
            <InputText @bind-Value="club.address" id="adresse" type="text" />

            <button type="submit">Gem</button>
        </EditForm>
    </div>
</section>

<section class="klub-section">
    <div class="header-div">
        <h2>Klub administratorer</h2>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Discord</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Julian Aarup Larsen</td>
                    <td>JulianManager@gmail.com</td>
                    <td>12345678</td>
                    <td>Julian</td>
                    <td><button>Rediger</button></td>
                    <td><button>Slet</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="klub-section">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Liga</th>
                    <th>Division</th>
                    <th>Antal spillere</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team team in teams)
                {
                    <tr id="team-tr">
                        <td>@team.teamName</td>
                        <td>CS:GO</td>
                        <td>Division @team.divisionID</td>
                        <td>5</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    [Parameter]
    public Nullable<int> id { get; set; }

    Club club = new Club();
    List<Team> teams = new List<Team>();

    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
            client.BaseAddress = new Uri("https://localhost:44341/");

            Console.WriteLine("Get Send");
            teams = await client.GetFromJsonAsync<List<Team>>("api/TeamInformation?clubID=" + id);
            Console.WriteLine("På den anden side");
            Console.WriteLine(teams);

            Console.WriteLine("Get Send");
            club = await client.GetFromJsonAsync<Club>("api/Klub/klub?clubID=" + id);
            Console.WriteLine("På den anden side");
            Console.WriteLine(club);
        }
    }

    async Task HandleSubmit()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        await client.PutAsJsonAsync<Club>("api/Klub", club);
    }
}
