@using P3TournamentPlanner.Client.Pages.Hold;
@using P3TournamentPlanner.Shared;
@inherits NytHoldBase

<div class="container">
    <div class="spiller-div">
        <div class="spiller-form">
            <div class="header-div">
                <h3>Ny spiller:</h3>
                <hr />
            </div>
            <div class="item-div">
                <label>Navn:</label>
                <InputText @bind-Value="player.IRLName" />
            </div>
            <div class="item-div">
                <label>In-game navn:</label>
                <InputText @bind-Value="player.IGName" />
            </div>
            <div class="item-div">
                <label>Steam-ID:</label>
                <InputText @bind-Value="player.steamID" />
            </div>
            <div class="item-div">
                <label>Rank:</label>
                <InputSelect @bind-Value="player.CSGORank">
                    <option value="">Vælg rank</option>
                    <option value="Silver 1">Silver 1</option>
                    <option value="Silver 2">Silver 2</option>
                    <option value="Silver 3">Silver 3</option>
                    <option value="Silver 4">Silver 4</option>
                    <option value="Silver Elite">Silver Elite</option>
                    <option value="Silver Elite Master">Silver Elite Master</option>
                    <option value="Gold Nova 1">Gold Nova 1</option>
                    <option value="Gold Nova 2">Gold Nova 2</option>
                    <option value="Gold Nova 3">Gold Nova 3</option>
                    <option value="Gold Nova Master">Gold Nova Master</option>
                    <option value="Master Guardian 1">Master Guardian 1</option>
                    <option value="Master Guardian 2">Master Guardian 2</option>
                    <option value="Master Guardian Elite">Master Guardian Elite</option>
                    <option value="Distingquished Master Guardian">Distingquished Master Guardian</option>
                    <option value="Legendary Eagle">Legendary Eagle</option>
                    <option value="Legendary Eagle Master">Legendary Eagle Master</option>
                    <option value="Supreme Master First Class">Supreme Master First Class</option>
                    <option value="The Global Elite">The Global Elite</option>
                </InputSelect>
            </div>
            <div class="item-div">
                <button class="btn-primary" @onclick="AddPlayer">Tilføj spiller</button>
            </div>
        </div>
        <div class="spiller-list-div">
            <h3>Spillere</h3>
            <hr />
            <div class="spiller-list">
                @foreach (Player player in team.players)
                {
                    <p id="name">@player.IRLName</p>
                    <hr />
                    <div class="list">
                        <p>@player.IGName</p>
                        <p>@player.steamID</p>
                        <p>@player.CSGORank</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {

}
