@using P3TournamentPlanner.Shared;
@page "/admin/klubber"
<h3>Admin</h3>
<!--<div class="Containers" id="information">
    <h3>Username</h3>
    <h3>Password</h3>
    <h3>Email</h3>
</div>-->

<div class="mainTable">
    <table class="table-style" style=" border-collapse: separate; border-spacing: 0 10px; width: 90%; font-size: larger;">
        <thead>
            <tr>
                <th> Klubnavn </th>
                <th> Træner </th>
                <th> Email </th>
                <th> Antal spillere </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5; i++)
            {
            <tr>
                <td class="tableElements"> Klubnavn </td>
                <td> Træner </td>
                <td> Eksemple@gmail.com </td>
                <td> 10 </td>
                <td> <button> Edit</button></td>
            </tr>
            }
        </tbody>    
    </table>
</div>

