.navn {
    display:flex;
    justify-content:center; 
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    font-size: larger;
}

td, th {
    padding: 0.35rem;
    text-align: left;
}

tbody tr:hover {
    cursor: pointer;
    background-color: grey;
}

tbody tr {
    margin-top: 5px;
    background-color: #3d3d3d;
}

.points {
    width: 75px;
    text-align: center;
}

.number {
    text-align: center;
    width: 50px;
}

.placement {
    width: 75px;
}

.tilføjHold {
    display: flex;
    flex-direction: column;
    height: 15px;
    height: 25px;
}

.kampe {
    justify-content: center; 
}