.navn {
    display:flex;
    justify-content:center; 
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    font-size: larger;
}

td, th {
    padding: 0.35rem;
    text-align: left;
}

tbody tr:hover {
    cursor: pointer;
    background-color: grey;
}

tbody tr {
    margin-top: 5px;
    background-color: #3d3d3d;
}

.points {
    width: 75px;
    text-align: center;
}

.number {
    text-align: center;
    width: 50px;
}

.placement {
    width: 75px;
}


.kampe {
    justify-content: center;
    margin-top: 30px;
}

.table_menu button {
    background-color: var(--main-lilla);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.table_menu button:hover {
    background-color: var(--penta-lilla);
    cursor: pointer;
}
.bokse {
    background-color: var(--main-lilla);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px 0 10px;
}

.tilføjHold{
    width:100%;
    margin-bottom:50px; 
    display:flex;
    justify-content: space-between; 
}

.navn{ float:left;}

.form-div {
    display: flex;
    justify-content: space-between;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
}

.box p {
    margin: 0 20px 0 0;
}

.new-match-div {
    margin-bottom: 40px;
}