.liga-section {
    margin-top: 4vh;
}

.liga-section h2 {
    margin: 0;
}

.liga-container {
    background-color: #3e3e3e;
    padding: 10px;
    max-width: 500px;
}

.liga-div {
    display: flex;
}

.btn-primary {
    padding: 5px;
    height: 30px;
    margin-left: 3vw;
}

h1 {
    margin: 10px;
    margin-left: 0px;
}

#explainer {
    margin: 0;
    font-size: large;
}

@media only screen and (max-width: 700px) {
    .liga-div {
        flex-direction: column;
    }
}