.liga-section {
    margin-top: 4vh;
}

.liga-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.btn-primary {
    height: 36px;
}

h1 {
    margin: 10px;
    margin-left: 0px;
}

#explainer {
    margin: 0;
    font-size: large;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    font-size: medium;
}

td, th {
    padding: 0.35rem;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #3e3e3e;
}

tbody tr {
    margin-top: 5px;
    background-color: #3e3e3e;
}

@media only screen and (max-width: 700px) {
    .liga-div {
        flex-direction: column;
    }
}