.main {
    margin-top: 7vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: flex-start;
}

.main h1 {
    margin: 0;
}

#container_1 {
    width: 500px;
}

.liga-header img {
    width: 300px;
    border-radius: 20px;
}

.table_menu button {
    background-color: var(--main-lilla);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.table_menu button:hover {
    background-color: var(--penta-lilla);
    cursor: pointer;
}

.input-select {
    background-color: var(--main-lilla);
    border: none;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: right;
    border-color: #fff transparent transparent transparent;
    cursor: pointer;
}

.slt-option {
    padding: 10px 25px;
    text-align: center;
}
