@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JsRuntime
@page "/ligaer"
<h1>Aktuelle ligaer</h1>
<p id="explainer">Oversigt over de forskellige ligaer</p>
<section class="liga-section">
    @foreach (League league in leagues)
    {
        @if (league.archiveFlag == false)
        {
            <div class="liga-container">
                <div class="header-div">
                    <div class="header">
                        <h3>@league.name</h3>
                    </div>
                    <button class="btn-primary" @onclick="ShowCSGOLeague">Se stilling</button>
                </div>
                <hr id="line" />
                <div class="liga-info">
                    <table>
                        <thead>
                            <tr>
                                <th>Admin</th>
                                <th>Admin discord</th>
                                <th>Antal hold</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@league.admin.contactinfo.name</td>
                                <td>@league.admin.contactinfo.discordID</td>
                                <td>@league.teamAmount</td>
                                <td>Igang</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</section>

@code {
    List<League> leagues = new List<League>();

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        leagues = await client.GetFromJsonAsync<List<League>>("api/Ligaer");
    }

    public void ShowCSGOLeague()
    {
        NavigationManager.NavigateTo("/ligaer/csgo");
    }
}
