@using P3TournamentPlanner.Shared;
@page "/admin"
<h3>Admin</h3>
<div class="form-div">
    <EditForm Model="admins" OnValidSubmit="Test">
        <label for="navn">Navn:</label>
        <InputText id="navn" name="navn" @bind-Value="admins.contactinfo.name"></InputText>
    </EditForm>
</div>

@code {
    SiteAdmin admins = new SiteAdmin();
    
    public void Test()
    {

    }
}