@page "/admin"
<h3>Admin</h3>
<div class="form-div">
    <form>
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text"/>
        </div>
    </form>
</div>

@code {
    public class Test
    {

    }

    private Test _test = new Test();
}