@page "/admin"
<h3>Admin</h3>
<!--<div class="Containers" id="information">
    <h3>Username</h3>
    <h3>Password</h3>
    <h3>Email</h3>
</div>-->

<div class="ny-admin-div">
    <form action="" method="post">
        <div id="input-felter">
            <label>Ny admin</label>
            <input id="username" type="text" placeholder="Username her" />
            <input id="password" type="text" placeholder="Password her" />
            <input id="email" type="text" placeholder="Email her" />
            <button> Opret ny Admin </button>
        </div>
    </form>
</div>

<div class="Containers2">
    @for (int i = 0; i < 5; i++)
    {
        <div id="container">
            <h3> Admin @i </h3>
            <h3> eksemplegmail.com</h3>
            <button class="btn-edit">remove admin</button>
            <button class="btn-edit">Edit admin</button>
            <b></b>
        </div>
    }
</div>
