@page "/"
<section class="main">
    <div>
        <div class="img-div col-12">
        </div>
    </div>
</section>
<section class="main main-container col-12">
    <div class="img-div-2 col-12">
        <img src="/images/esport-landsmesterskab-28-april-2018.jpg" />
    </div>
      
    <div class="container">
        <h2>Om Nordjysk liga</h2>
        <p>Foreninger vil gerne mødes lokalt og spille kampe – dette ønsker DGI Nordjylland at understøtte så meget som muligt, ved at lave stævner ude i jeres klubber.   Hvis dette ikke er muligt grundet covid-19 så afvikler vi kampene online</p>
    </div>
</section>
