.main {
    margin-top: 2em;
}

.main-container {
    margin-top: 7em;
    display: flex;
}

.container{
    margin: 0 2em;
}

.container h2 {
    margin: 0;
    padding: 0;
}

.container h3 {
    margin-top: 3em;
    padding: 0;
}

.img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20px;
}