@page "/"
<section class="main ">
    <div class="img-div">
        <img src="/images/NordjyskligaCover2.jpg"/>
    </div>
</section>
<section class="main main-container">
    <div class="img-div">
        <img src="/images/esport-landsmesterskab-28-april-2018.jpg"  width="500" />
    </div>
      
    <div class="container">
        <h2>DGI Nordjysk liga</h2>
        <p>Foreninger vil gerne mødes lokalt og spille kampe – dette ønsker DGI Nordjylland at understøtte så meget som muligt, ved at lave stævner ude i jeres klubber.   Hvis dette ikke er muligt grundet covid-19 så afvikler vi kampene online</p>

        <h3>Værtsklubber</h3>
        <p>For at gøre tingene nemt, ønsker vi at afholde stævnerne i klubber hvor der er 10+ maskiner – så der ikke behøves at medbringes andet fra deltager klubberne end tastatur, mus og høretelefoner.</p>
    </div>
</section>
