@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@inject HttpClient Http
@inherits LayoutComponentBase
@page "/ligaer"
<h3>Ligaer</h3>
<section class="main">
    <div id="container_1">
        <h1 id="Headline"> Nordjyst Liga CS:GO </h1>
        <p id="text_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
</section>
<section class="table_container">
    <div class="table_menu">
        <button>Stilling</button>
        <button>Kampe</button>
        <button>Resultater</button>
    </div>
    <StillingTable />
</section>




@code {

}