@page "/resultat/{id:int}"
<section class="kamp-section">
    <h1 id="kamp-id">Kamp id: @ID</h1>
    <div class="team-div">
        <h1>Team 1</h1>
        <h1>16 - 2</h1>
        <h1>Team 2</h1>
    </div>
    <div class="info-div">
        <div class="item-div date-div"><time datetime="2021-02-11">2021-02-11 : 12:00</time></div>
        <div class="item-div" id="center">
            <button>Download demo</button>
        </div>
        <div class="item-div" id="adresse">
            <p>Hobro Vikings</p>
            <p>Amerikavej 22, 9500 Hobro</p>
        </div>
    </div>
</section>
@code {
    [Parameter]
    public int ID { get; set; }
}
