@page "/test"
@using P3TournamentPlanner.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory

<h3>Test</h3>
<p id="test">dinmor</p>
<button @onclick="MakeAdminTest">Make Admin</button>
<button @onclick="RevokeAdminTest">Revoke Admin</button>
<button @onclick="GenerateMatches">Gen Match Test</button>

@*<img src="data:image/png;base64, @DO.base64">*@

@code {
    DebugObject DO = new DebugObject();
    //Team testTeam = new Team(3, 1, 1, "dinmorgay", 69, 69, 69, 69, 69, 69, 69, 69, 69, new ClubManager(new Contactinfo(), "dinMANAGERgay"), false);
    Player testPlayer = new Player("Test Navn", "Test IG navn", "Dette er et steamID", "CSGO RANK GO HERE", 69420);
    User testUser;
    List<User> testUserList;

    List<Division> divList = new List<Division>();

    List<Team> div1Teams = new List<Team>();
    List<Team> div2Teams = new List<Team>();



    protected override async Task OnInitializedAsync() {

        //HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        //client.BaseAddress = new Uri("https://localhost:44341/");

        //Console.WriteLine("Get Send");
        //DO = await client.GetFromJsonAsync<DebugObject>("api/Debug");
        //Console.WriteLine("På den anden side");

    }

    private async void TestFunc() {
        Console.WriteLine("DIN MODER");
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        client.DefaultRequestHeaders.Add("teamID", "69");
        client.DefaultRequestHeaders.Add("clubID", "420");

        var res = await client.PostAsJsonAsync<Player>("api/Player", testPlayer);

        Console.WriteLine(res);

        //var res = await client.PutAsJsonAsync<Team>("api/Stilling", testTeam);

        //Console.WriteLine(res);
    }

    private async void MakeAdminTest() {
        testUserList = await Http.GetFromJsonAsync<List<User>>("api/admin/users");

        foreach(User user in testUserList) {
            if(user.email == "admin@admin.dk") testUser = user;
        }

        Http.DefaultRequestHeaders.Add("toBecomeAdmin", "true");

        var res = await Http.PostAsJsonAsync<User>("api/admin/changeRole", testUser);

        Console.WriteLine(res);
    }

    private async void RevokeAdminTest() {
        testUserList = await Http.GetFromJsonAsync<List<User>>("api/admin/users");

        foreach(User user in testUserList) {
            if(user.email == "admin@admin.dk") testUser = user;
        }

        Http.DefaultRequestHeaders.Add("toBecomeAdmin", "false");

        var res = await Http.PostAsJsonAsync<User>("api/admin/changeRole", testUser);

        Console.WriteLine(res);
    }

    private async Task GenerateMatches() {
        div1Teams.Add(new Team(0, "Team 1"));
        div1Teams.Add(new Team(1, "Team 2"));
        div1Teams.Add(new Team(2, "Team 3"));
        div1Teams.Add(new Team(3, "Team 4"));
        div1Teams.Add(new Team(4, "Team 5"));

        div2Teams.Add(new Team(0, "Team 6"));
        div2Teams.Add(new Team(2, "Team 7"));
        div2Teams.Add(new Team(3, "Team 8"));
        div2Teams.Add(new Team(4, "Team 9"));

        divList.Add(new Division(div1Teams, new List<Match>()));
        divList.Add(new Division(div2Teams, new List<Match>()));

        League league = new League(divList);

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        var res = await client.PostAsJsonAsync<League>("api/admin/genMatches", league);

        Console.WriteLine(res);
    }
}