@using P3TournamentPlanner.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
<h1>Ligaer</h1>
<div id="matchSection" style="width: 100%">
    <table class="boxes">
        <thead>
            <tr>
                <th>  Liga Navn  </th>
                <th>  Spil  </th>
                <th>  Antal Hold  </th>
                <th>  Status  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (League liga in ligas)
            {

                <tr @onclick="ShowLiga">
                    <td>  @liga.name  </td>
                    <td>  @liga.game.name  </td>
                    <td> @liga.teamAmount</td>
                    <td>  @liga.archiveFlag  </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int ID { get; set; }

    public string MapSti = "Mirage";


    List<League> ligas = new List<League>();

    protected override async Task OnParametersSetAsync()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        ligas = await client.GetFromJsonAsync<List<League>>("api/Ligaer");
        Console.WriteLine("På den anden side");
    }

    public void ShowLiga()
    {
        NavigationManager.NavigateTo("/admin/ligaer/1");
    }
}