@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
<div class="header-div">
    <h1>Klubber</h1>
    <div class="wrapper">
        <button class="btn-primary" @onclick="CreateClub">Lav ny klub</button>
    </div>
</div>
<div class="mainTable">
    <table class="table-style" style=" border-collapse: separate; border-spacing: 0 10px; width: 90%; font-size: larger;">
        <thead>
            <tr>
                <th> Klubnavn </th>
                <th> Træner </th>
                <th> Email </th>
                <th> Antal spillere </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Club club in clubs)
            {
                <tr @onclick="() => ShowClub(club)">
                    <td>@club.name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public List<Club> clubs = new List<Club>();

    protected override async Task OnParametersSetAsync()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        clubs = await client.GetFromJsonAsync<List<Club>>("api/Klub");
        Console.WriteLine("På den anden side");
        Console.WriteLine(clubs);
    }

    public void ShowClub(Club club)
    {
        NavigationManager.NavigateTo($"dinklub/{club.clubID}");
    }

    public void CreateClub()
    {
        NavigationManager.NavigateTo("dinklub");
    }
}