body {
    font: normal medium/1.4 sans-serif;
}


.boxes {
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: larger;
    width:100%;
}

td, th {
    padding: 0.35rem;
    text-align: left;
}

tbody tr:hover {
    background-color: #4e4e4e;
    cursor: pointer;
}

tbody tr {
    margin-top: 5px;
    background-color: #3d3d3d;
    width:100%;
}
