@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject Services.TeamService TeamService
@page "/hold"

<h1>Hold</h1>
<p id="text_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

<table class="table-style" style=" border-collapse: separate; border-spacing: 0 10px; width: 100%; font-size: larger;">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Kontakt</th>    
            <th>Division</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Team team in teams)
        {
            <tr @onclick="() => ShowTeam(team)">
                <td>@team.teamName</td>
                <td>@team.manager.contactinfo.tlfNr</td>
                <td>@team.divisionID</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Team> teams = new List<Team>();

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        teams = await client.GetFromJsonAsync<List<Team>>("api/TeamInformation");
        Console.WriteLine("På den anden side");
        Console.WriteLine(teams);
    }

    public void ShowTeam(Team team)
    {
        TeamService.team = team;
        NavigationManager.NavigateTo($"/hold/{team.teamName}");
    }
}