@using System.Collections.Generic;
@inject HttpClient Http
@inject Services.TeamService TeamService
@page "/hold/{teamname?}"


<h1>@TeamService.team.name</h1>

<p>Klub:</p>
<p>Kontaktperson: Martin Svanholm - @TeamService.team.contact</p>
<p>Klublokale: Amerikavej 22, 9500 Hobro</p>

<section class="table_container">
    <div class="table_menu">
        <button id="info-btn" @onclick="ShowInfo">Info</button>
        <button id="kampe-btn" @onclick="ShowKampe">Kampe</button>
        <button id="resultater-btn" @onclick="ShowResultater">Resultater</button>
    </div>
</section>
@if (display == "kampe")
{
    <style>
        #kampe-btn {
            background-color: var(--penta-lilla)
        }
    </style>
    <MatchList />
}
else if (display == "resultater")
{
    <style>
        #resultater-btn {
            background-color: var(--penta-lilla)
        }
    </style>
    <ResultList />
}
else if (display == "info")
{
    <style>
        #info-btn {
            background-color: var(--penta-lilla)
        }
    </style>
    <section class="manager-section">
        <div class="header-div">
            <h2>Trænere</h2>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Discord</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Julian Aarup Larsen</td>
                        <td>JulianManager@gmail.com</td>
                        <td>12345678</td>
                        <td>Julian</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="player-section">
        <div class="header-div">
            <h2>Spillere</h2>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>In-game navn</th>
                        <th>STEAM_ID</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 5; i++)
                    {
                        <tr>
                            <td>Martin Svanholm</td>
                            <td>Svanh0lm</td>
                            <td>STEAM_0:0:11101</td>
                            <td>Global Elite</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}



@code {
    [Parameter]
    public string teamname { get; set; }

    public string display = "info";

    public void ShowInfo()
    {
        display = "info";
        StateHasChanged();
    }

    public void ShowKampe()
    {
        display = "kampe";
        StateHasChanged();
    }

    public void ShowResultater()
    {
        display = "resultater";
        StateHasChanged();
    }
}
