<footer class="footer">
    <div>
        <h3>DGI Nordjylland:</h3>
        <p>Teglgårds Plads 1 - Niv. 9, 9000 Aalborg</p>
        <p>79 40 41 50</p>
        <p>nordjylland@dgi.dk</p>
    </div> 
    <div class="icon-div">
        <ul class="icon-list">
            <li class="icon">
                <a><img src="/images/facebook-icon.png" width="45"></a>
            </li>

            <li class="icon">
                <img  src="/images/discord-icon.png" width="50"/>
            </li>
        </ul>
    </div>
</footer>
@code {

}
