:root {
    --Main_Lilla: #642882;
    --Second_Lilla: #4E166A;
    --Trio_Lilla: #36054F;
    --Quad_Lilla: #794195;
    --Penta_Lilla: #9869B0;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
a:hover {
    background-color: #4E166A;
}
