@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Http
@using P3TournamentPlanner.Shared;
@using System;
@using System.Net.Http;
@using System.Threading.Tasks;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="/dinklub/1">Din klub</a>
        <button class="nav-link btn btn-link" id="logout" @onclick="BeginSignOut">Log ud</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    //private ClubManager clubManager = new ClubManager();

    //protected override async Task OnInitializedAsync()
    //{
    //    try
    //    {
    //        clubManager = await Http.GetFromJsonAsync<ClubManager>("api/Authentication/navbar");
    //    }
    //    catch (Exception exception)
    //    {
    //        Console.WriteLine(exception.Message);
    //    }

    //}

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
