:root {
    --Main_Lilla: #642882;
    --Second_Lilla: #4E166A;
    --Trio_Lilla: #36054F;
    --Quad_Lilla: #794195;
    --Penta_Lilla: #9869B0;
}

.navbar a {
    font-size: 18px;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #bbb;
    transition: background-color 0.4s ease;
}

/* Change the link color to #111 (black) on hover */
a:hover {
    background-color: #9869B0;
}
