:root {
    --Main-Lilla: #642882;
    --Second-Lilla: #4E166A;
    --Trio-Lilla: #36054F;
    --Quad-Lilla: #794195;
    --Penta-Lilla: #9869B0;
}

.navbar {
    width: 60%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4E166A;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4E166A;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #642882;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #4E166A;
}

.dropdown:hover .dropdown-content {
    display: block;
}