.match-container {
    background-image: url(/images/maps/csgo-gerneric-maps.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 30px;
    border: solid 1px white;
    border-radius: 5px;
}

.match-container-background {
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
}

.match-container-background:hover {
    background-color: rgba(0,0,0,0.4);
}

#topPart {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    position: relative;
}

.match-header {
    text-align: center;
    width: 20vw;
    justify-content: center;
}

#center {
    justify-content: center;
    width: 8vw;
}

#lowPart {
    display: flex;
    justify-content: center;
}

#lowPart h3 {
    text-align: center;
    width: 20vw;
    justify-content: center;
}

#box {
    width: 50%;
    font-size: small;
    text-align: center;
}