.match-container {
    background-image: url(/images/maps/csgo-gerneric-maps.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.match-container-background {
    background-color: rgba(0,0,0,0.5);
}

.match-container-background:hover {
    background-color: rgba(0,0,0,0.3);
}

#topPart {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    position: relative;
}

.match-header {
    width: 30vw;
}

#lowPart {
    display: flex;
    justify-content: center;
}

#center {
    
}

#box {
    width: 50%;
    font-size: small;
    text-align: center;
}