.match-container {
    margin-top: 10px;
}

.match-container:hover {
    cursor: pointer;
    background-color: #4e4e4e;
}

#topPart {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    position: relative;
}

#lowPart {
    display: flex;
    justify-content: space-evenly;
}

#box {
    width: 50%;
    font-size: small;
    text-align: center;
}