.match-container {
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.match-container-background {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

.match-container-background:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
}

#topPart {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    position: relative;
}

#lowPart {
    display: flex;
    justify-content: space-evenly;
}

#box {
    width: 50%;
    font-size: small;
    text-align: center;
}