body {
    font: normal medium/1.4 sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    font-size: larger;
}

td, th {
    padding: 0.35rem;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #3e3e3e;
}

tr:hover {
    cursor: pointer;
    background-color: #4e4e4e;
}

tbody tr:nth-child(odd):hover {
    background-color: #4e4e4e;
}

thead tr:hover {
    background-color: #2d2d2d;
    cursor: default;
}

tbody tr {
    margin-top: 5px;
    background-color: #3e3e3e;
}

.points {
    width: 75px;
    text-align: center;
}

.number {
    text-align: center;
    width: 50px;
}

.placement {
    width: 75px;
}