@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

* {
    box-sizing: border-box;
}

:root {
    --main-lilla: #642882;
    --second-lilla: #4E166A;
    --trio-lilla: #36054F;
    --quad-lilla: #794195;
    --penta-lilla: #9869B0;
    --light-cray: #767676;
}

html, body {
    background-color: #2d2d2d;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    background-color: var(--main-lilla);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: var(--quad-lilla);
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.transition {
    display: none;
}

.info-text {
    font-size: 17px;
    line-height: 1.4;
}

.header {
    height: 36px;
    background-color: var(--main-lilla);
}

.header h3 {
    height: 36px;
    margin: 0;
    padding: 7px 25px 7px 25px;
    background-color: var(--main-lilla);
    border-top-left-radius: 2px;
}

.header::after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: 36px;
    left: 100%;
    border-top: 36px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 36px solid var(--main-lilla);
    z-index: 1;
}

#line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #642882;
    border-bottom-left-radius: 2px;
    padding: 0;
    margin: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#blazor-gemt-ui {
    color: black;
    background: lightgreen;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-gemt-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}